.toggleButton {
    background: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.settingsMenu {
    position: absolute;
    border: solid white 2px;
    border-radius: 45px;
    bottom: 5px;
    margin: 5px;
    padding: 10px;
    z-index: -1;
}

.bgInput {
    background: none;
    padding: 0px 13px 0px 13px;
    height: 45px;
    margin: 5px;
    width: 400px;
    border: solid white 2px;
    border-radius: 30px;
}

.bgButton {
    background: none;
    border: solid white 2px;
    border-radius: 30px;
    height: 45px;
    width: 140px;
    margin: 5px;
}

.jsonField {
    height: 200px;
    background: none;
    position: relative;
    border: solid white 2px;
    border-radius: 30px;
    width: 400px;
    margin: 5px;
    padding: 13px;
    resize: none;
}
.jsonButton {
    background: none;
    border: solid white 2px;
    position: relative;
    bottom: 208px;
    width: 140px;
    margin: 5px;
    border-radius: 30px;
}

.rotate {
    transition: transform 0.5s ease; /* Set the transition for the "transform" property */
    transform: rotate(45deg); /* Set the initial rotation angle */
}
